@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&family=Old+Standard+TT&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');

/*  General styles          */
html{
    font: normal 14px sans-serif;
    font-family: 'Abahay Libre',sans-serif;
    scroll-behavior: smooth !important;
}
p{
    font-family: 'Old Standard TT', sans-serif;
}
body{
    width: 100%;
    background-color: #c5c0b9;
    padding: 0;
    margin: 0;
}
main{
    display: block;
}
.container{
    display: flex;
}
.card{
    display: block;
}
.btn_call_to_action{
    padding: 0.5em 3em;
    border-radius: 54px;
    align-self: center;
    text-align: center;
    background-color: #e97810;
    cursor: pointer;
    text-decoration: none;
    color: black;
}
.section-title{
    background-color: #525252;
    color: #c5c0b9;
    padding: 1em 0;
    margin: 0;
}

/*  Header navigation       */
#header-placeholder{
    width: 98vw;
    background-color: #525252;
    display: flex;
    align-items: center;
    overflow: hidden;
    padding: 1vh 1vw;
    justify-content: space-between;
}
#header-placeholder .logo{
    width: 20%;
    display: flex;
    margin: auto 0;
}
#header-placeholder .logo img{
    width: 5em;
}
#header-placeholder .logo h1{
    color: #c5c0b9;
    margin: auto 0;
}
#header-placeholder nav{
    width: 60%;
    display: flex;
    text-transform: uppercase;
}
#header-placeholder nav li{
    list-style: none;
    margin: auto;
}
#header-placeholder nav li a{
    color: #c5c0b9;
    text-decoration: none;
    cursor: pointer;
}
#header-placeholder nav li a:hover{
    text-decoration: solid;
    color: #fff;
    font-weight: bold;
}

/*  Footer                   */
#footer-placeholder{
    width: 100%;
    text-align: center;
    align-items: center;
    margin: 10% 0 2.5% 0;
}
#footer-placeholder ul{
    width: fit-content;
    display: flex;
    margin: 5% auto;
    padding: 0;
}
#footer-placeholder ul li{
    list-style: none;
}
#footer-placeholder ul li a{
    display: inline-block;
    font-size: 2em;
    margin: auto 0.2em;
    opacity: 50%;
    cursor: pointer;
}
#footer-placeholder ul li a:hover{
    opacity: 100%;
}

/*  Section Home            */
#Home{
    display: block;
    width: 100%;
}
#Home img{
    width: 55%;
    display: block;
}
#Home .card{
    width: 35%;
    height: fit-content;
    align-items: center;
    text-align: center;
    margin: auto 5%;
}
#Home .card *{
    width: 100%;
    display: inline-block;
    text-align: center;
    margin: 0.5em auto;
}
#Home .card .btn_call_to_action{
    width: fit-content;
    text-align: center;
}

/*  Section Our-Work        */
#Our-Work {
    width: 100%;
    text-align: center;
}
#Our-Work .container{
    width: 80%;
    height: 90vh;
    margin: auto;
}
#Our-Work .container .card{
    width: 70%;
    text-align: center;
    margin: auto;
}
#Our-Work .container .card img{
    width: 10em;
}

/*  Section Services        */
#Services{
    width: 100%;
    height: 100vh;
    text-align: center;
    display: block;
}
#Services .container{
    width: 80%;
    height: 70%;
    display: flex;
    margin: auto;
}
#Services p{
    margin: 5vh auto;
}
#Services .container img{
    width: 25%;
    height: 75%;
    border: 0.5em solid #565656;
    border-radius: 10px;
    cursor: pointer;
    margin: auto;
}
#Services .container img:hover{
    width: 30%;
    height: 80%;
}

/*  Section Testimonials    */
#Testimonials{
    width: 80%;
    height: 100vh;
    background-color: #525252;
    padding: 0 10%;
    text-align: center;
    color: #c5c0b9;
}
#Testimonials .container{
    margin: 0 auto;
    padding: 15% 0;
}
#Testimonials .container .card{
    width: 25%;
    height: fit-content;
    margin: 0 auto;
}
#Testimonials .container .card .profile{
    width: 100%;
    display: flex;
}
#Testimonials .container .card .profile img{
    width: 5em;
    height: 5em;
    border: 10px solid #c5c0b9;
    border-radius: 50%;
    color: #c5c0b9;
}
#Testimonials .container .card .profile .card{
    width: fit-content;
    height: 50%;
    align-items: center;
    margin: auto 5%;
    text-align: left;
}
#Testimonials .container .card .profile .card h4{
    margin: 10% 0;
}
#Testimonials .container .card p{
    text-align: justify;
}

/*  Section Contact         */
#Contact{
    text-align: center;
    height: fit-content;
}
#Contact .card .container{
    width: 60%;
    text-align: center;
    align-items: center;
    margin: 5% auto;
}
#Contact .card .container:first-child{
    width: 40%;
    margin: 0 auto;
}
#Contact .card .container input{
    width: 60%;
    margin: auto;
}
#Contact .card .container .btn_call_to_action{
    width: fit-content;
    margin: auto;
}
#Contact .card .container img{
    width: 30%;
    margin: auto;
}

/*  Responsive Design       */
@media (max-width: 600px) {
    /*  Section Header          */
    #header-placeholder{
        display: block;
    }
    #header-placeholder .logo{
        width: 100%;
        justify-content: center;
    }
    #header-placeholder nav{
        width: 100%;
    }
    #header-placeholder nav *{
        margin: auto;
    }
    #header-placeholder nav li{
        margin: auto;
    }

    /*  Section Home            */
    #Home .container{
        display: block;
        height: 100vh;
        text-align: center;
    }
    #Home .container .card{
        height: 50vh;
        margin: auto;
        display: table-cell;
        vertical-align: middle;
    }
    #Home .container .card *{

    }
    #Home .container img{
        width: 100%;
        height: 50vh;
    }

    /* Section Our Work         */
    #Our-Work{
        height: fit-content;
    }
    #Our-Work .container{
        height: inherit;
        display: grid;
        text-align: center;
    }
    #Our-Work .container .card{
        margin: auto;
    }

    /*  Section Testimonials    */
    #Testimonials{
        height: fit-content;
    }
    #Testimonials .container{
        display: block;
        height: fit-content;
    }
    #Testimonials .container .card{
        width: 80%;
    }
    #Testimonials .container .card .profile{
        justify-content: center;
    }
}
